//Size
$mainFontColor: #101010;
$mainFontSize: 18px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;

$desctopWidth: 1280px;
$smDesctopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

// MainColor

$defualt-color: #fff;
$primary-color: #000000;
$succsess-color: #20ab50;
$danger-color: #fc5c65;
$wrning-color: #fed330;
$light-color: #999999;
$purple-color: #8854d0;

//border-color
$border-base: #dcdfe6;
$border-light: #e4e7ed;
$border-lighter: #ebeef5;

// font-family
$primaryFontFamily: 'Yantramanav', sans-serif;;
$secondaryFontFamily: 'Nunito', sans-serif;
