/* Reset
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline; }

a {
  text-decoration: none; }
  a:active, a:hover {
    outline: 0; }

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: border-box; }

:focus {
  outline: 0; }

img,
audio,
video {
  max-width: 100%;
  height: auto; }

audio,
canvas,
iframe,
video,
img,
svg {
  vertical-align: middle; }

iframe {
  border: 0; }

textarea {
  resize: none;
  /*remove the resize handle on the bottom right*/
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none; }

input,
textarea,
select,
button {
  outline: none;
  border: none;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0;
  text-align: left; }

* {
  box-sizing: border-box; }

html, body {
  font-size: 16px;
  font-family: "Yantramanav", sans-serif; }

h1, h2, h3 {
  font-family: "Nunito", sans-serif; }

a {
  color: #000; }

.container {
  max-width: 972px;
  width: 100%;
  padding: 15px 15px;
  margin: 0 auto; }

.ph-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

.ph-row + .ph-row {
  margin-top: 1rem; }

[class^="ph-col-"] {
  padding: 0 15px; }

.ph-col-1 {
  width: 8.33333%; }

.ph-col-2 {
  width: 16.66667%; }

.ph-col-3 {
  width: 25%; }

.ph-col-4 {
  width: 33.33333%; }

.ph-col-5 {
  width: 41.66667%; }

.ph-col-6 {
  width: 50%; }

.ph-col-7 {
  width: 58.33333%; }

.ph-col-8 {
  width: 66.66667%; }

.ph-col-9 {
  width: 75%; }

.ph-col-10 {
  width: 83.33333%; }

.ph-col-11 {
  width: 91.66667%; }

.ph-col-12 {
  width: 100%; }

.ph-hidden {
  position: absolute;
  left: -9999999px;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: 0;
  overflow: hidden; }

html {
  line-height: 1.4;
  font-size: 18px;
  color: #101010;
  height: 100%; }
  @media screen and (max-width: 1280px) {
    html {
      font-size: 16px; } }
  @media screen and (max-width: 768px) {
    html {
      font-size: 15px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 14px; } }

.ph-hero {
  padding: 33px 35px;
  height: 100vh;
  background-image: url("../img/heroBgImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #dcdcdc; }
  .ph-hero-logo__item {
    width: 142px;
    height: 57px; }
  .ph-hero-desc {
    padding-top: 177px;
    text-align: center;
    color: #fff; }
    .ph-hero-desc__title {
      font-size: 3.75rem;
      font-family: "Nunito", sans-serif;
      font-weight: 300;
      margin-bottom: 19px; }
    .ph-hero-desc__text {
      font-size: 1.25rem;
      line-height: 22px;
      letter-spacing: 0.1px;
      margin-bottom: 53px; }
  .ph-hero-form {
    display: flex;
    justify-content: center; }
    .ph-hero-form__input {
      padding: 19px 112px 17px 4px;
      border-radius: 20px 0px 0px 20px; }
      .ph-hero-form__input:focus, .ph-hero-form__input:active {
        box-shadow: 0 0 5px #51cbee; }
      .ph-hero-form__input::placeholder {
        font-size: 18px;
        font-weight: 300;
        letter-spacing: .5px;
        color: #8c8c8c; }
    .ph-hero-form__btn {
      font-family: "Nunito", sans-serif;
      padding: 14px 50px 11px;
      border-radius: 0 20px 20px 0;
      background-color: #20ab50;
      font-weight: 400;
      font-size: 1.25rem;
      color: #fff;
      border: 1px solid transparent;
      cursor: pointer;
      transition: .3s; }
      .ph-hero-form__btn--color:hover {
        color: #20ab50; }
      .ph-hero-form__btn:focus, .ph-hero-form__btn:active {
        box-shadow: 0 0 5px #51cbee; }
      .ph-hero-form__btn:hover {
        background-color: transparent;
        border-color: #20ab50; }
    @media screen and (max-width: 566px) {
      .ph-hero-form {
        flex-direction: column; }
        .ph-hero-form__input {
          border-radius: 20px;
          margin-bottom: 20px; }
          .ph-hero-form__input::placeholder {
            font-size: 1rem; }
        .ph-hero-form__btn {
          border-radius: 20px; } }
  .ph-hero-dots {
    position: fixed;
    top: 50%;
    right: 53px;
    transform: translateY(-50%);
    z-index: 20; }
    .ph-hero-dots__circle {
      display: flex;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #dcdcdc;
      margin-bottom: 14px;
      transition: .3s; }
      .ph-hero-dots__circle.active {
        transform: scale(1.5); }
      .ph-hero-dots__circle:last-child {
        margin-bottom: 0; }
      .ph-hero-dots__circle:active, .ph-hero-dots__circle:focus {
        transform: scale(1.5); }
      .ph-hero-dots__circle:hover {
        transform: scale(1.5); }
    @media screen and (max-width: 680px) {
      .ph-hero-dots {
        right: 5px; } }
  @media screen and (max-width: 1000px) {
    .ph-hero {
      height: auto;
      padding-bottom: 100px; } }

.ph-about {
  display: flex; }
  .ph-about-desc {
    width: 50%;
    padding: 111px 125px 110px 114px; }
    .ph-about-desc__title {
      font-size: 1.875rem;
      font-weight: 500;
      text-align: center;
      margin-bottom: 32px; }
    .ph-about-desc__text {
      font-weight: 300;
      letter-spacing: .8px;
      line-height: 23px;
      margin-bottom: 30px; }
      .ph-about-desc__text:last-child {
        margin-bottom: 0; }
      @media screen and (min-width: 1338px) {
        .ph-about-desc__text {
          font-size: 1.125rem;
          line-height: 30px; } }
      @media screen and (min-width: 1478px) {
        .ph-about-desc__text {
          font-size: 1.25rem;
          line-height: 35px; } }
      @media screen and (min-width: 1620px) {
        .ph-about-desc__text {
          font-size: 1.5rem; } }
      @media screen and (min-width: 1720px) {
        .ph-about-desc__text {
          font-size: 1.25rem;
          line-height: 40px; } }
      .ph-about-desc__text--marginb {
        margin-bottom: 8px; }
    @media screen and (max-width: 600px) {
      .ph-about-desc {
        padding: 50px 20px; } }
  .ph-about-image {
    width: 50%; }
    .ph-about-image__item {
      width: 100%;
      height: 100%; }
  @media screen and (max-width: 1000px) {
    .ph-about {
      flex-direction: column;
      align-items: center;
      margin-bottom: 50px; }
      .ph-about-desc {
        width: 100%; }
      .ph-about-image {
        width: 100%; } }

.ph-customers {
  overflow-x: hidden;
  display: flex; }
  .ph-customers-image {
    width: 50%; }
    .ph-customers-image__item {
      width: 100%;
      max-width: 1200px;
      height: 100%; }
  .ph-customers-desc {
    padding-top: 194px;
    width: 50%;
    text-align: center; }
    .ph-customers-desc__title {
      font-size: 1.875rem;
      font-weight: 500;
      margin-bottom: 115px; }
    .ph-customers-desc__quote {
      display: inline-block;
      position: relative;
      font-size: 1.25rem;
      line-height: 30px;
      font-weight: 300;
      letter-spacing: 1px; }
      .ph-customers-desc__quote::before {
        content: url("../img/leftQuotes.png");
        position: absolute;
        left: -8px;
        top: -48px; }
      .ph-customers-desc__quote::after {
        content: url("../img/rightQuotes.png");
        position: absolute;
        right: -23px;
        bottom: -17px; }
      .ph-customers-desc__quote--quotes::before {
        left: -28px;
        bottom: -44px; }
      .ph-customers-desc__quote--quotes::after {
        right: -32px;
        bottom: -21px; }
    .ph-customers-desc__author {
      display: block;
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: .9px;
      margin-top: 90px; }
      .ph-customers-desc__author--margint {
        margin-top: 96px; }
    .ph-customers-desc--padding {
      padding-top: 313px; }
      @media screen and (min-width: 1500px) {
        .ph-customers-desc--padding {
          padding-top: 500px; } }
    @media screen and (max-width: 600px) {
      .ph-customers-desc {
        padding: 50px 0; } }
  @media screen and (max-width: 1000px) {
    .ph-customers {
      flex-direction: column;
      align-items: center;
      margin-bottom: 100px; }
      .ph-customers-desc {
        width: 100%; }
      .ph-customers-image {
        width: 100%; } }

.ph-range {
  position: relative;
  padding: 79px 0;
  text-align: center; }
  .ph-range-left-btn {
    position: absolute;
    left: 25%;
    top: 40%;
    z-index: 20;
    cursor: pointer; }
    @media screen and (max-width: 970px) {
      .ph-range-left-btn {
        display: none; } }
  .ph-range-right-btn {
    position: absolute;
    right: 25%;
    top: 40%;
    z-index: 20;
    cursor: pointer; }
    @media screen and (max-width: 970px) {
      .ph-range-right-btn {
        display: none; } }
  .ph-range-desc {
    margin-bottom: 130px;
    padding-left: 28px;
    text-align: center; }
    .ph-range-desc__title {
      font-size: 1.875rem;
      font-weight: 400;
      line-height: 46px; }
    .ph-range-desc__text {
      font-size: 0.855rem;
      font-weight: 300;
      line-height: 36px; }
    .ph-range-desc--product {
      margin-bottom: 20px; }
    .ph-range-desc--find {
      margin-bottom: 65px; }
    .ph-range-desc--stoke {
      margin-bottom: 47px; }
  .ph-range-slider {
    display: flex;
    justify-content: center;
    overflow-x: hidden; }
    .ph-range-slider .slick-dots {
      top: 43%; }
    .ph-range-slider-item {
      display: flex;
      flex-direction: column;
      text-align: center; }
      .ph-range-slider-item__image {
        margin: 0 auto; }
      .ph-range-slider-item__model {
        display: inline-block;
        margin-top: 108px;
        font-family: "Nunito", sans-serif;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: .9px; }
      .ph-range-slider-item__page {
        display: block;
        margin-top: 13px;
        font-size: 1.125rem;
        line-height: 40px;
        letter-spacing: 0.9px; }

.ph-product {
  padding: 67px 60px 70px;
  background-image: url("../img/image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .ph-product-desc {
    display: flex;
    justify-content: space-between; }
    .ph-product-desc-comment-item {
      width: 100%;
      max-width: 231px;
      padding: 16px 15px 15px;
      background-color: #fff;
      border-radius: 10px;
      margin-bottom: 10px; }
      .ph-product-desc-comment-item__title {
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: .08px;
        line-height: 24px; }
      .ph-product-desc-comment-item__text {
        font-size: .9375rem;
        font-weight: 300; }
    @media screen and (max-width: 585px) {
      .ph-product-desc-comment {
        margin-bottom: 50px; } }
    @media screen and (max-width: 585px) {
      .ph-product-desc {
        flex-direction: column;
        align-items: center; } }

.ph-find {
  padding: 90px 0 72px;
  overflow-x: hidden; }
  .ph-find-forward {
    display: flex;
    margin-bottom: 50px; }
    .ph-find-forward-menu {
      margin-right: 80px; }
      .ph-find-forward-menu__link {
        font-size: .9375rem;
        line-height: 24px;
        font-weight: 300;
        letter-spacing: 0.08px;
        color: #000; }
        .ph-find-forward-menu__link--weight {
          font-weight: 400; }
        .ph-find-forward-menu__link--color {
          color: #20ab50; }
    .ph-find-forward--marginb {
      margin-bottom: 85px; }
    @media screen and (max-width: 1050px) {
      .ph-find-forward {
        flex-wrap: wrap;
        justify-content: space-between; }
        .ph-find-forward-menu {
          margin-bottom: 20px; } }
    @media screen and (max-width: 422px) {
      .ph-find-forward {
        align-items: center;
        flex-direction: column; } }
  .ph-find-contact {
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: 0.18px; }
    .ph-find-contact__mail {
      margin-right: 110px;
      color: #20ab50; }

.ph-contact {
  padding: 125px 0 115px;
  background-color: #f3f3f3; }

.ph-footer {
  padding: 14px 0 12px;
  background-color: #dcdcdc; }
  .ph-footer__text {
    font-size: .875rem;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: .35px;
    color: #fff; }
