* {
  box-sizing: border-box; }

html, body {
  font-size: 16px;
  font-family: "Yantramanav", sans-serif; }

h1, h2, h3 {
  font-family: "Nunito", sans-serif; }

a {
  color: #000; }

.container {
  max-width: 1084px;
  width: 100%;
  padding: 15px 15px;
  margin: 0 auto; }

.ph-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

.ph-row + .ph-row {
  margin-top: 1rem; }

[class^="ph-col-"] {
  padding: 0 15px; }

.ph-col-1 {
  width: 8.33333%; }

.ph-col-2 {
  width: 16.66667%; }

.ph-col-3 {
  width: 25%; }

.ph-col-4 {
  width: 33.33333%; }

.ph-col-5 {
  width: 41.66667%; }

.ph-col-6 {
  width: 50%; }

.ph-col-7 {
  width: 58.33333%; }

.ph-col-8 {
  width: 66.66667%; }

.ph-col-9 {
  width: 75%; }

.ph-col-10 {
  width: 83.33333%; }

.ph-col-11 {
  width: 91.66667%; }

.ph-col-12 {
  width: 100%; }

.ph-hidden {
  position: absolute;
  left: -9999999px;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: 0;
  overflow: hidden; }
